<div class="container py-5">
  <!-- Header -->
  <div class="row mb-3">
    <div class="col text-center">
      <h1 class="headerText">farmShare!</h1>
      <h5 class="subHeader">Harvest and share</h5>
    </div>
  </div>

  <!-- Navigation links -->
  <div class="row homePageRow mb-4">
    <div class="col-10 offset-1">
      <div class="row mb-3">
        <div class="col text-center">
          <a href="/newpost" class="btn btn-outline-success btn-block">Add Your Tree</a>
        </div>
        <div class="col text-center">
          <a href="/feed" class="btn btn-outline-primary btn-block">Find a Tree</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col text-center">
          <a href="/calendar" class="btn btn-outline-info btn-block">My Calendar</a>
        </div>
        <div class="col text-center">
          <button id="logout-btn" class="btn btn-outline-danger btn-block">Log Out</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Account deletion -->
  <div class="row">
    <div class="col text-center">
      <p>Want to delete your account? Click <a id="delete-acc" href="#">here :'(</a></p>
    </div>
  </div>

  <!-- Footer -->
  <div class="row footer mt-4">
    <div class="col text-center">
      <p>&copy; 2019 farmShare</p>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="/js/navigation.js" async defer></script>
