<div class="container py-5">
  <div class="row mb-3">
    <div class="col text-center">
      <h1 class="headerText">Register</h1>
      <h5 class="subHeader">Just a little info to get started</h5>
    </div>
  </div>

  <form id="register-form" novalidate>
    <div class="row newUserInput">
      <div class="col-10 offset-1">

        <!-- Email -->
        <div class="form-group mb-3" id="email-div">
          <label for="email" class="sr-only">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input id="email" type="email" class="form-control" placeholder="E-Mail" autocomplete="email" required>
          </div>
        </div>

        <!-- First Name -->
        <div class="form-group mb-3">
          <label for="first-name" class="sr-only">First Name</label>
          <input id="first-name" type="text" class="form-control" placeholder="First Name" autocomplete="given-name" required>
        </div>

        <!-- Last Name -->
        <div class="form-group mb-3">
          <label for="last-name" class="sr-only">Last Name</label>
          <input id="last-name" type="text" class="form-control" placeholder="Last Name" autocomplete="family-name" required>
        </div>

        <!-- Username -->
        <div class="form-group mb-3">
          <label for="username" class="sr-only">User Name</label>
          <input id="username" type="text" class="form-control" placeholder="User Name" autocomplete="username" required>
        </div>

        <!-- Password -->
        <div class="form-group mb-3" id="password-div">
          <label for="password1" class="sr-only">Password</label>
          <input id="password1" type="password" class="form-control" placeholder="Enter a password" autocomplete="new-password" required>
        </div>

        <!-- Confirm Password -->
        <div class="form-group mb-3">
          <label for="password2" class="sr-only">Confirm Password</label>
          <input id="password2" type="password" class="form-control" placeholder="Confirm Password" autocomplete="new-password" required>
        </div>

        <!-- Register Button -->
        <div class="row justify-content-end">
          <div class="col-4">
            <button id="register-button" type="button" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>

      </div>
    </div>
  </form>

  <div class="row footer mt-5">
    <div class="col text-center">
      <p>&copy; 2019 farmShare</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/register.js" type="text/javascript" async defer></script>
