<div class="container py-5">
  <div class="row mb-3">
    <div class="col text-center">
      <h1 class="headerText">Find Local Harvests</h1>
      <h5 class="subHeader">Search for harvests by state below.</h5>
    </div>
  </div>

  <form id="search-form" novalidate>
    <div class="row searchRow mb-4">
      <div class="col-10 offset-1">
        <div class="input-group">
          <label for="state-input" class="sr-only">State</label>
          <input id="state-input" type="text" class="form-control" placeholder="Enter a State" autocomplete="off" required aria-describedby="search-help">
          <div class="input-group-append">
            <button type="submit" class="btn btn-light">Search</button>
          </div>
        </div>
        <small id="search-help" class="form-text text-muted">Enter the name or abbreviation of a state.</small>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 col-md-3">
        <a href="/home" class="btn btn-light btn-block">Back to Nav</a>
      </div>
    </div>
  </form>

  <div class="row footer mt-5">
    <div class="col text-center">
      <p>&copy; 2019 farmShare</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="/js/search.js" async defer></script>
